 /*Medium screens for 2 columns*/
 @media (min-width: 700px) {
    main {
        grid-template-columns: repeat(2, 1fr); /*Two Columns*/
    }
    /*last card occupies the entire row*/
    .card:last-child {
        grid-column: 1 / -1; /*last card to span all columns*/
    }
    /*Last card image to use the full width*/
    .card:last-child img {
        width: 100%; /* Takes full width of the card */
        height: auto; /* Keeps the ratio */
        object-fit: cover; /*Ensures the image covers the area*/
    }


}