*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background-color: #f4f4f4;
    font-family: 'Quicksand', sans-serif;
}
header {
    width: 100%;
}

#weather-banner {
    position: relative;
    display: flex;
    background-color: #00c3d8;
    width: 100%;
    justify-content: center;
    align-items: center;
   
    
}

.banner-content {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: white;
    flex-grow: 1;
    justify-content: center;
}

#close-banner {
    position: absolute;
    top: autp;
    right: 10px;
    transform: translate(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;

}

#close-banner:hover {
    color: #0c0f09;
}

#content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}


#hero-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

#hero-img {
    width: 100%;
    max-width: auto;
}

#hero-image {
    width: 100%;
}

.header-left {
    position: absolute;
    top: 10px;
    left: 20px;
}

#logo {
    width: 60px;
}

.navigation {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 30px;
    left: 100px;
    font-size: 1.1rem;
    z-index: 10;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: black;

}

.menu a:hover {
    color: white;
}

.social-right {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    align-items: center;
}

.social-right li {
    list-style: none;
    margin-left: 10px;
}

.soc-link {
    opacity: .6;
}


.button-box {
    position: absolute;
    bottom: 57%;
    left: 50%;
    transform: translateX(-50%);
    background: #00c3d8;
    z-index: 10;
    padding: 20px 40px;
    border-radius: 8px;
    border: solid 1px #0c0f09;
}

.button-box a {
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    padding 5px;
}

.button-box a:hover {
    color: #0c0f09;
    
}

#hero-msg {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.6rem;
}

#hero-msg h1 {
    font-weight: 300;
}