*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;

}


/* Default Styling for Small Screen */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d4a4d;
    color: #f4f4f4;
    padding: 10px 20px;
    position: relative;
}

.header-left {
    display: flex; 
    align-items: center;  
    margin-right: auto;  
}

.toggle-container {
    margin-left: auto;
    margin-top: -40px;
    margin-bottom: 20px;
}



#logo {
    width: 80px;
    height: 80px;
    margin: 10px;

}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    padding-left: 5px;
    font-size: 1rem;
    padding-right: 20px;
    
}

/* Dark Mode Toggle Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin: 0;

  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: blue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px blue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
/* Navigation Styles */
.navigation {
    background-color: #1d4a4d;
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    flex-direction: column;
    display: none; /* hide menu by default on mobile */
    align-items: flex-start;
    background-color: #1d4a4d;
    position: absolute;
    width: 100%; /* Full width for mobile */
    top: calc(100% - 10px); /*position below nav bar* */
    z-index: 1000;
    right: 100px;  
    
}


nav a {
    display: block; 
    color:#f4f4f4;
    background-color: #1d4a4d;
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

nav a:hover {
    color:#EDDFCC;
}

/* Hamburger Styling */
#hamburger {
    font-size: 2.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    display: block;
    margin-top: auto;
    
}

#hamburger::before {
    content: "≡";
}

#hamburger.open::before {
    content: "✕";
}


.menu.show {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: -100px;
    margin-top: 60px;
    
}

 nav ul li {
    width: 100%;
    margin: 0;
    padding: 0;
 }

 

 /*Hero image not on smaller screen */

 #hero {
    display: none;
 }

 /* Main styling */
 /* Community Resources Section */

 .resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }
 
 .resource-img {
   display: block;
   width: 100%;
   margin: 10px 0;
   display: none;
 }

.resource-msg, .business-msg {
    width: 100%;
    background: #EDDFCC;
    color :#1d4a4d;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 1px 5px #1d4a4d;
    text-align: center;
    
 }

 .resource-msg h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #1d4a4d;

 }

 .resource-msg p {
    font-family: 'Source Sans 3', sans-serif;
    color: #1d4a4d;
    margin-bottom: 20px;
    padding-top: 0;
    
 }

 .button-box {
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    margin-bottom: 20px;

 }

 .join-now {
    background-color: #1d4a4d;
    opacity: .8;
    color: #f4f4f4;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    display: inline-block;
 }

 /* Events and Weather Sections */
 .middle {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
 }
 .events, .weather {
    text-align: center;
    margin-bottom: 10px;
    color: #1d4a4d;
 }

 .events h2 {
    margin-top: 20px;
 }

 .events p {
    padding-bottom: 5px;
 }

 .middle h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
 }
 .middle h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    padding: 5px;
 }
 .middle p {
    font-family: 'Source Sans 3', sans-serif;
 }

 .line {
    width: 100%;
    height: 2px;
    background-color: #1d4a4d;
    display: block;
    margin-top: 20px;
    
 }

 #see-more {
    background-color: #1d4a4d;
    opacity: .8;
    color: #f4f4f4;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    margin-bottom: 20px;

 }



 /* Business Highlight */
 .business-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    

    
}

 
.business-msg h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #1d4a4d;
    padding-left: 25px;
    padding-right: 25px;
    color: #1d4a4d;
}

.business-msg h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 0;
    font-size: 1em;
    color: #1d4a4d;
}

.business-msg p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    color: #1d4a4d;
    padding-left: 25px;
    padding-right: 25px;
    color: #1d4a4d;
}

.business-img {
    margin-left: 0;
    width: 100%;
    display: block;
    margin-top: 5px;
}

#bus-address  {
    margin-top: 10px;
    font-size: 1em;
    font-weight: 600;
    
}

.business-msg {
    margin-bottom: 30px;
    
}
 
/* Footer Styles */
footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center; 
    margin-top: 20px;
    padding: 15px 0;
    background: #1d4a4d; 
    color: #f4f4f4;
    font-weight: 200;
    
}

footer h3 {
    font-weight: 300;
}

footer p {
    margin-bottom: 5px; /* Space between footer lines */
}

.left-footer {
    margin-bottom: 10px;
}

.footer-middle h3 {
    padding: 10px;
    padding-bottom: 5px;
}

.footer-middle p {
    padding-bottom: 10px;
}

 /* Dark Mode for Main Section */

body.dark-mode {
    background-color: #1d1d1d;
    color: #f4f4f4;
}

body.dark-mode .events,
body.dark-mode .weather {
    color:#f4f4f4

}

body.dark-mode .line {
    background-color: #f4f4f4;
}

