*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #1d4a4d;
    color: #f4f4f4;
    padding: 10px;
    position: relative;

}

.header-left {
    display: flex;     
}

#logo {
    width: 110px;
    height: 110px;
    margin: 10px;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    font-size: 2.5em;
    padding-left: 10px;
    
}

nav {
   display: flex;
   justify-content: space-around;
   align-self: flex-end;
   margin-top: auto;
}

nav a{
    color:#f4f4f4;
    padding: 0 15px;
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.2em;
}

nav a:hover {
    color:#EDDFCC;
}