/* Media query for medium screens */
@media (min-width: 600px) and (max-width: 849px) {
    #logo {
        width: 100px;
        height: 100px;
    }

  #demographic, #events-2, #attractions {
    margin-bottom: 30px;
  }

  .cards-dir {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 800px;
  gap: 0;
}

.list section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

.list .business-card {
  min-height: 150px;
}

.list h2 {
  text-align: left;
}

.business-highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}


  

}