
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    padding: 20px;
    background-color: #f4f4f4;
    font-family: 'Montserrat',sans-serif;
    
}

/*Default styles for medium screens */

 header {
    display: flex; /* Enable flexbox */
    justify-content: center;
    align-items: center; /* Center items horizontally */ 
    margin-bottom: 20px;
    background-color: #55828B; /* Background color */
    padding: 20px; /* Padding */
       
}

header img {
    max-width: 150px; /* makes image responsive */
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    font-family: 'Gowun Batang', serif;
    color: white;
    margin: 20px;
    font-size: 3rem;
    
}


nav {
    background: #87BBA2; 
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul {

    display: flex;
    flex-direction: column;
    list-style: none; 
    padding: 0;
    margin: 0;
    text-align: center;  
}

nav ul li {
    margin: 0 15px;
   
}

nav li {
    padding: 5px;
    margin: 0 15px; 
}

nav ul li span {
    margin: 0 5px;  /* Adjusts space between links */
}


nav a {
    color: black; 
    text-decoration: none; 
    font-size: 1.5rem;
}

nav a:hover {
    text-decoration: underline; 
}


/* Styles for the hamburger button. */
#hamburger {
    display: none; /* Not visible on medium screem */

}
 
/* Main page content */
main {
    justify-content: center;
    align-items: center;
}

.hero-temple {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
}

picture {
    display: block;
    width: 100%;
    max-width: 100%;

}

picture img {
    width: 100%;
    height: auto;
}

.hero-label {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: radial-gradient(#fff,#55828B);
    opacity: .9;
    padding: 0px;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-size: .8em;
}



 .content {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 850px;
    margin: 0 auto; /*center the main element*/
    padding: 20px; 
    background-color: white; 
    border-radius: 8px; 
    grid-column: 1 / 4;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card {
    background-color: #f9f9f9; 
    margin-bottom: 15px;
    margin-top: 15px; 
    border-radius: 5px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

main ul {
    list-style: none;
    padding-top: 10px;
    text-align: left;

}

main ul li {
    padding: 5px 0; /*vertical spacing between items*/
}

main ul li span {
    margin: 0 3px; /*adjust space between separator*/
}

main a {
    text-decoration: none;
    padding: 0px;
    margin-right: 5px;

}

main li {
    padding: 2px;
}
main p {
    text-align: center;
    padding: 10px;
}

.pseudo::before {
    content: "🌡️";
    margin-right: 5px;
}

h2 {
    color: #55828B;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    text-align: center; 
}

h3 {
    background-color: #55828B;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
}

.map-container {
    width: 100%; /* Full width */
    margin: 20px 0; /* Some space above and below the map */
    padding-top: 10px;
    padding-bottom: 10px;
}

.map-container iframe {
    width: 100%; /* Make the iframe width 100% of its container */
    height: 450px; /* Set a specific height */
    border: 0; /* Remove border */
}


footer {
    text-align: center; 
    margin-top: 20px;
    padding: 15px 0;
    background: #87BBA2; 
    color: black;
    grid-column: 1 / 4;
}

footer p {
    margin-bottom: 5px; /* Space between footer lines */
}
