:root {
    --main-bg-color: #ced5d2;      /* Background color for inputs */
    --border-color: #1d4a4d;       /* Main border color */
    --submit-bg-color: #55828B;    /* Background color for submit button */
    --error-color: red;             /* Error color for required inputs */
    --success-color: rgb(108, 185, 108); /* Success color for valid inputs */
}

main {
    padding: 0 2%;
    min-height: 20rem;
    font-family: 'Poppins', sans-serif;

}

/* Form Styling */


#formessage {
    display: none;
    margin-top: -1rem;
}

fieldset {
    margin: 2rem 0;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: .5rem 2%;
    width: 500px;
    margin-bottom: 20px;

}

legend {
    color: var(--border-color);
    padding: 0 .5rem;
}

label {
    display: block;
    padding-left: 1rem;
    color: var(--border-color);
    font-size: .9rem;
    padding-bottom: 20px;
    
}

input[type="text"],
input[type="password"],
input[type="email"]
{
    background-color: var(--main-bg-color);
    display: block;
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: .75rem;
    color: #1d414d;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

input[type="range"] {
    display: block;
    width: 300px;
    margin-left: 16px;   
}

#rangevalue {
    font-size: 2rem; 
    width: 200px;
}

#rangevalues {
    display: flex;
    margin: 0 0 0 20px;
    width: 320px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#rangevalues option {
    flex: 1 1 auto;
}

#rate {
    padding-bottom: 5px;
}

input[type="submit"]{
    border: solid 1px;
    background-color: var(--submit-bg-color); 
    color: white;
    padding: 15px;
    border-radius: 6px;
    width: 96%;
    max-width: 500px;
   
}

input[type="submit"]:hover {
    background-color: #87BBA2;
    border-color: #87BBA2 ;
    color: black;
    cursor: pointer;
}

input:required {
    border-left: solid 8px var(--error-color);
}

input:required:valid {
    border-left: solid 8px var(--success-color);
}

