/* Media Query for mobile version */
@media (max-width: 500px) {

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header img {
        margin-right: 0;
        margin-bottom: 10px;
    }
    /* Hide Navigation by Default */
    nav ul {
        flex-direction: column;
        display: none; /* hide menu by default on mobile */
        align-items: center;
        background-color: #87BBA2;
        position: absolute;
        width: 100%; /* Full width for mobile */
        top: 60px; /*position below nav bar* */
        z-index: 1000;
        padding: 0;
        margin: 0;
        
    }

    nav li {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    #hamburger {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: white;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        display: block;
    }

    #hamburger::before {
        content: "≡";
    }

    #hamburger.open::before {
        content: "✕";
    }

   nav ul.show {
        display: flex;
    
   }

   .navigation {
    background: none;
    padding: 0;
   }

}